html,
body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
