$cornflower-blue: #6495ed;
$background-color: #f2f2f2;
$base-color: #fff;
$base-font-color: #433;
$base-dark-color: #433;
$button-primary-color: #f2f2f2;
$button-text-color: #454545;

$footer-link-color: #00f;
