.like-icon__like {
  border: 1px solid transparent;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.4rem;
  transition: all 0.3s;

  &:hover {
    border: 1px solid gray;
    box-shadow: 0 0 3px black;

    .like-icon__like--icon-empty,
    .like-icon__like--icon-full {
      transition: all 0.3s;
      transform: scale(1.2);
    }
  }

  &:active {
    box-shadow: none;
  }
}

.like-icon__like--disabled {
  cursor: not-allowed;
}

.like-icon__like--icon-empty {
  color: #eee;
  text-shadow: 0 0 2px black;
}

.like-icon__like--icon-full {
  color: red;
}
