.like-icon__like {
  color: gray;
}

.like-icon__like--icon-empty {
  color: #eee;
  // color: red;
  text-shadow: 0 0 2px black;
}

.like-icon__like--icon-full {
  color: red;
  // color: red;
  // text-shadow: 0 0 2px black;
}
